	@font-face {
		font-family: Mermaid1001;
		src: url(Mermaid1001.ttf);
	}
	  
	@font-face {
		font-family: Aver;
		src: url(Aver.ttf);
	  }
	
	h1{
		font-family: Mermaid1001;
		font-size: 120px;
		font-weight: bold;
		margin-left: 100px;
		padding-top: 100px;
		line-height: 6px;
		font-weight: bold;
	  }
	
	.byline {
		font-family: Aver;
		font-size: 20;
      		font-style: italic;
     		margin-left: 100px;
      		margin-bottom: 100px;	  
	}
	
	p {
		font-family: Aver;
		font-size: 20px;
		line-height: 27px;
		color: black;
		margin-left: 100px;
        }
	
	img {
		width: 600px;
		overflow: scroll;
		margin-left: 90px;
	}
	
	.oversized {
		width: 700px;
		margin-left: 10px;
	}
